.app-container {
    min-height: 100vh;
  }
  
.sidebar {
    background-color: #f5f8ed;
    width: 250px;
    padding: 20px;
}
  
.main-content {
    flex: 1;
    padding: 20px;
}
  
.steps-panel {
    background-color: #1539cd;
    color: white;
    width: 300px;
    padding: 20px;
}